# Feature showcase
This notebook is meant to convince you that [pnguin](https://github.com/raghavmecheri/pnguin) isn't totally useless, and is actually pretty cool. Below, you'll find a set of my favourite pnguin features, along with small example code snippets for the same

In [1]:
import sys
import os
sys.path.insert(0, os.path.join(os.getcwd(), "../"))

import pnguin as pg

from pnguin.connectors import mysql_conn

### Setting up some demo Frames

In [2]:
csv_file = os.path.join(os.getcwd(), "../test/data/noheaderdata.csv")

row_df = pg.read_csv(path=csv_file, axis="row", headers=["Name", "Age", "Feature 1", "Feature 2", "Feature 3"])
col_df = pg.read_csv(path=csv_file, axis="col", headers=["Name", "Age", "Feature 1", "Feature 2", "Feature 3"])

sql_df = pg.SQLFrame(connection=mysql_conn(), table_name="advisor")

## pnguin lets you index data from either axis!
Specifying an `axis` parameter lets you choose which axis for which the operations will be optimised, but pnguin performs operations on either axis regardless

#### Getting the first row from either the `row_df`, or the `col_df`

In [3]:
row_df[0]

[{'Name': 'Raghav',
  'Age': '20',
  'Feature 1': 'a',
  'Feature 2': 'b',
  'Feature 3': 'c'}]

In [4]:
col_df[0]

Warning: Please use a string value to signify a column name when your pnguin DataFrame is in column mode! Pnguin auto-handles this, but this could take a second for larger datasets

{'Name': 'Raghav',
 'Age': '20',
 'Feature 1': 'a',
 'Feature 2': 'b',
 'Feature 3': 'c'}

#### Getting a column from either the `row_df`, or the `col_df`

In [5]:
row_df["Name"]

Warning: Please use an integer value or an integer slice to select row(s) when your pnguin DataFrame is in row mode! Pnguin auto-handles this, but this could take a second for larger datasets

['Raghav', 'Raghav2', 'Raghav3', 'Raghav4', 'Raghav5']

In [6]:
col_df["Name"]

['Raghav', 'Raghav2', 'Raghav3', 'Raghav4', 'Raghav5']

## Assign to a DataFrame just like you would a list or dictionary

In [7]:
row_df[0] = {"Name": "Raghav22", "Age": "100", 'Feature 1': 'a', 'Feature 2': 'a', 'Feature 3': 'a'}
print(row_df)

Name        Age  Feature 1    Feature 2    Feature 3
--------  -----  -----------  -----------  -----------
Raghav22    100  a            a            a
Raghav2      21  a            b            c
Raghav3      19  a            d            c
Raghav4      22  d            b            c
Raghav5      21  aaaa         b            e

## Data filters, done right
#### For more examples, check [this](hello) out

In [8]:
row_df = row_df.filter(pg.Filter("Name", "IN", ["Raghav2", "Raghav3"]))
print(row_df)

Name       Age  Feature 1    Feature 2    Feature 3
-------  -----  -----------  -----------  -----------
Raghav2     21  a            b            c
Raghav3     19  a            d            c

## You can also add a second filter to a DataFrame!

In [9]:
row_df = row_df.filter(pg.Filter("Age", ">", "20"))
print(row_df)

Name       Age  Feature 1    Feature 2    Feature 3
-------  -----  -----------  -----------  -----------
Raghav2     21  a            b            c

## Do all this, but with remote data as well :)
#### For more examples, check [this](./SQLFrame/SQLFrameOperations.ipynb) out

In [10]:
sql_df.head()

  s_ID    i_ID
------  ------
 12345   10101
 44553   22222
 45678   22222
 00128   45565
 76543   45565

In [11]:
sql_df.filter(pg.Filter("s_ID", ">", 12345))

In [12]:
sql_df.head()

  s_ID    i_ID
------  ------
 44553   22222
 45678   22222
 76543   45565
 23121   76543
 98988   76766